:root {
  --font-color: #0f172a; /* Midnight Slate */
  --body-bg-color: #d6e6f6; /* Soft Ice Gray */
  --div-bg-color: #38bdf8; /* Sky Blue Neon */
  --content-bg-color: #d5d8dc; /* Sky Blue Neon */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Fira Code;
}

body {
  background-color: var(--body-bg-color);
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--div-bg-color);
  color: var(--font-color);
  padding: 0.3;
  width: 100%;
}

.header img {
  border-radius: 50%;
  width: 50px;
}

.header img,
p {
  margin: 0.3rem 1.2rem;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: center;
  margin: 1rem 1rem;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: var(--font-color);
}
.navbar a:hover {
  text-decoration: underline;
}

.content {
  background-color: #38bdf8;
}

/* sidebar */
.sidebar {
  float: left;
  margin: 0.2rem 1rem;
  background-color: #38bdf8;
  color: #0f172a;
  padding: 1rem;
  border-radius: 0.3rem;
}

.sidebar li {
  list-style: none;
  margin: 0.2rem 0rem;
  border: 1px solid var(--body-bg-color);
  background-color: var(--font-color);
  color: var(--body-bg-color);
  padding: 0.2rem;
}

.sidebar .myhobi h3 {
  margin-bottom: 1rem;
}

.sidebar .mycita-cita h3 {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

/* heroes */
.heroes h3 {
  background-color: var(--div-bg-color);
  margin: 1.2rem 6.5rem 1rem 22.5rem;
  text-align: center;
  padding: 0.2rem;
  border-radius: 0.3rem;
}

.heroes img {
  width: 800px;
  height: 326px;
  border-radius: 0.3rem;
}

/* about */
.about {
  background-color: var(--content-bg-color);
  border-radius: 0.3rem;
  padding: 1rem;
  clear: both;
  color: var(--font-color);
}

.about h3 {
  text-align: center;
}

.about p {
  text-align: justify;
}

/* sosial media */
.social-media {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  background-color: var(--content-bg-color);
  color: var(--font-color);
}

/* footer */
.footer {
  background-color: var(--font-color);
  color: var(--body-bg-color);
  padding: 1rem;
  margin-top: 10rem;
}

.footer p {
  text-align: center;
}

/* responsive */
@media (max-width: 768px) {
  .header {
    width: 100%;
  }
  .navbar ul {
    gap: 0.5rem;
    padding-left: 1rem;
  }

  .sidebar {
    float: none;
  }

  .heroes img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .heroes h3 {
    margin: 1rem auto;
  }

  .social-media {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

@media (max-width: 1030px) {
  .header {
    width: 100%;
  }
  .navbar ul {
    gap: 0.5rem;
    padding-left: 1rem;
  }

  .sidebar {
    float: none;
  }

  .heroes img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .heroes h3 {
    margin: 1rem auto;
  }

  .social-media {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
